<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="" class="logo">
      <%= image_tag "logo.png"%>
    </a>

    <div class="navbar-wagon-pusher"></div>


    <%= link_to t(".top_call_to_action", default: "Add a cocktail"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</nav>
